<!DOCTYPE html>
<html>
<head>
  <title>ChickenEggApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Egg-cellent Tracker"/>
	<meta prefix="og: http://ogp.me/ns#" property="og:description" content="For the backyard chicken enthusiast, track your chickens, log your eggs."/>
	<meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://eggcellent-tracker.herokuapp.com"/>
	<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://image.ibb.co/mKYpXk/eggcellent_tracker_batch_show.jpg"/>
  
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
	
	<link href='https://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
</head>
<body id="main">

<% if notice %>
	<p class="notice" role="alert"><%= notice %></p>
<% end %>
<% if alert %>
	<p class="alert" role="alert"><%= alert %></p>
<% end %>
<div class="container" style="margin:0;padding:0;width:100%">
	<%= yield %>
</div>

<script>
  $(function(){
    setTimeout(function(){
      $(".notice").remove();
    }, 2000);
    setTimeout(function(){
      $(".alert").remove();
    }, 2000);
  });
</script>

</body>
</html>
